{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },

    "ecmaFeatures": {
        "modules": true
    },

    "globals": {
        "__DEV__": true
    },

    "rules": {
        "eol-last": [2],
        "new-cap": [0],
        "no-alert": [0],
        "no-console": [2],
        "no-multi-spaces": [2],
        "no-sequences": [0],
        "no-trailing-spaces": [2],
        "no-underscore-dangle": [0],
        "no-unused-vars": [2, { "args": "none" }],
        "no-use-before-define": [2, "nofunc"],
        "quotes": [2, "single", "avoid-escape"],
        "global-strict": [0]
    }
}
